body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    
  
  }
  
  h1 {
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  
  .button {
    width: 80px;
    color: black;
    background-color: silver;
    border-radius: 25px;
    margin: 10px;
  }
  img {
    display: flex;
    flex-wrap: wrap;
    height: 60%;
    width: auto;
    
  }
  
  .notes {
    display: flex;
    flex-wrap: wrap;
    height: 60vh;
    width: auto;
  }

  